force-app/main/default/flows/Contact_Update_Newest_Contact_SObjectIndex.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_AccountId_to_Contacts</name>
        <label>Create AccountId to Contacts</label>
        <locationX>183</locationX>
        <locationY>644</locationY>
        <actionName>FlowSObjectIndexCreate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Over_Accounts</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>indexField</name>
            <value>
                <stringValue>AccountId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_All_Contacts</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Newest_Contact</name>
        <label>Get Newest Contact</label>
        <locationX>521</locationX>
        <locationY>791</locationY>
        <actionName>FlowSObjectIndexGet</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Account_To_Update</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>indexHandle</name>
            <value>
                <elementReference>Create_AccountId_to_Contacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>key</name>
            <value>
                <elementReference>Loop_Over_Accounts</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Old_Contact</name>
        <label>Get Old Contact</label>
        <locationX>412</locationX>
        <locationY>268</locationY>
        <actionName>FlowOldRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Account_Changed</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__data</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>data</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Add_Account_To_Update</name>
        <label>Add Account To Update</label>
        <locationX>653</locationX>
        <locationY>1212</locationY>
        <assignmentItems>
            <assignToReference>AccountsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Old_and_New_Account_Ids</name>
        <label>Collect Old and New Account Ids</label>
        <locationX>183</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Old_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Account_To_Update</name>
        <label>Create Account To Update</label>
        <locationX>642</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Null_Checks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Newest_Contact</name>
        <label>Newest Contact</label>
        <locationX>791</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Newest_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Newest_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Newest_Contact_Null</name>
        <label>Newest Contact Null</label>
        <locationX>514</locationX>
        <locationY>1068</locationY>
        <assignmentItems>
            <assignToReference>AccountToUpdate.Newest_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_To_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Account_Changed</name>
        <label>Is Account Changed</label>
        <locationX>404</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Old_Contact.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Old_and_New_Account_Ids</targetReference>
            </connector>
            <label>Account Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Checks</name>
        <label>Null Checks</label>
        <locationX>632</locationX>
        <locationY>938</locationY>
        <defaultConnector>
            <targetReference>Newest_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Id_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountToUpdate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Accounts</targetReference>
            </connector>
            <label>Account Id Is Null</label>
        </rules>
        <rules>
            <name>Newest_Contact_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Newest_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Newest_Contact_Null</targetReference>
            </connector>
            <label>Newest Contact Is Null</label>
        </rules>
    </decisions>
    <interviewLabel>Contact-Update: Newest Contact (SObjectIndex) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact-Update: Newest Contact (SObjectIndex)</label>
    <loops>
        <name>Loop_Over_Accounts</name>
        <label>Loop Over Accounts</label>
        <locationX>183</locationX>
        <locationY>793</locationY>
        <collectionReference>AccountIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Newest_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Contacts</name>
        <label>Get All Contacts</label>
        <locationX>183</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_AccountId_to_Contacts</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Old_Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>86</locationX>
        <locationY>1208</locationY>
        <inputReference>AccountsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>286</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Old_Contact</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
