force-app/main/default/flows/Test_Contact_Newest_Contact_Two_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assert_Found_A_Test_Contact_As_Newest_Contact</name>
        <label>Assert Found A Test Contact As Newest Contact</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <actionName>FlowAssert</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>condition</name>
            <value>
                <elementReference>FoundIt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Should have found a test contact as newest contact</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Account</name>
        <label>New Account</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>FlowGetTestRecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>X2_New_Contacts</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>sObjectType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>X2_New_Contacts</name>
        <label>2 New Contacts</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>FlowGetTestRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Test_Account</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>nRecords</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>variant</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Found_It</name>
        <label>Found It</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>FoundIt</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_This_The_Newest_Contact</name>
        <label>Is This The Newest Contact?</label>
        <locationX>396</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Newest_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Test_Account.Newest_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Over_Contacts.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_It</targetReference>
            </connector>
            <label>Is Newest Contact</label>
        </rules>
    </decisions>
    <description>@IsTest</description>
    <interviewLabel>Test: Contact Newest Contact Two Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test: Contact Newest Contact Two Contacts</label>
    <loops>
        <name>Loop_Over_Contacts</name>
        <label>Loop Over Contacts</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>X2_New_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_This_The_Newest_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assert_Found_A_Test_Contact_As_Newest_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Test_Account</name>
        <label>Get Test Account</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Contacts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FoundIt</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
