force-app/main/default/flows/Test_Contact_Newest_Contact_Single_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assert_Newest_Contact</name>
        <label>Assert Newest Contact</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>FlowAssertEquals</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>actual</name>
            <value>
                <elementReference>Get_Test_Account.Newest_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expected</name>
            <value>
                <elementReference>New_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Expected Newest Contact to be set</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Account</name>
        <label>New Account</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>FlowTestRecordSource</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>New_Contact</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>sObjectType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>New_Contact</name>
        <label>New Contact</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>FlowTestRecordSource</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Test_Account</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>sObjectType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>variant</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <description>@IsTest</description>
    <interviewLabel>Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test: Contact Newest Contact Single Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Test_Account</name>
        <label>Get Test Account</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assert_Newest_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
